@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:focus, button:focus, a:focus, select:focus, textarea:focus {
    @apply outline-none ring-0;
  }
}

.focus-visible:focus {
  @apply outline-none ring-0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #e5e7eb;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #4f46e5;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #4f46e5;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}